# Environment
.env
venv/
__pycache__/
*.pyc
.pytest_cache/

# Uploads
uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
.next/
out/
.vercel

# Logs
*.log
npm-debug.log*

# Build
dist/
build/
